<section id="proyecto" class="proyecto">
    <div class="container-fluid">
        <div class="row">
            <div class="col-3"></div>
            <br>
            <div class="col-3"></div>
            <br>
            <div class="col-3"></div>
            <br>
            <div class="col-3"></div>
            <br>
        </div>
        <div class="row">

            <div class="col-3 mt-4 text-center">
                <br>
                <h5>Proyectos</h5>
            </div>
            <div class="col-8 mt-4">
                <div class="p-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3">
                    <ul>
                        <li>
                            <h3>Proyecto 1</h3>
                        </li>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque dolores expedita accusamus
                            quo fuga sunt tempora alias magni dolorum autem. Esse vitae officia velit itaque ad? Numquam
                            esse eum sapiente!
                        </p>
                    </ul>
                    <ul>
                        <li>
                            <h3>Proyecto 2</h3>
                        </li>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque dolores expedita accusamus
                            quo fuga sunt tempora alias magni dolorum autem. Esse vitae officia velit itaque ad? Numquam
                            esse eum sapiente!
                        </p>
                    </ul>
                    <ul>
                        <li>
                            <h3>Proyecto 3</h3>
                        </li>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque dolores expedita accusamus
                            quo fuga sunt tempora alias magni dolorum autem. Esse vitae officia velit itaque ad? Numquam
                            esse eum sapiente!
                        </p>
                    </ul>
                </div>
                <br>
                <br>
            </div>
            <div class="col-1 mt-4">

            </div>

        </div>
    </div>
</section>