<nav class="navbar navbar-expand-lg bg-secondary fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="assets/img/Argprog.png" alt="" width="" height="60">
        </a>

        <ul class="list-group list-group-horizontal">
            <li class="list-group-item"><i class="fa-brands fa-twitter fa-lg"></i></li>
            <li class="list-group-item"><i class="fa-brands fa-facebook-f fa-lg"></i></li>
            <li class="list-group-item"><i class="fa-brands fa-linkedin fa-lg"></i></li>
            <!-- Button trigger modal Boton del login-->
            <li class="list-group-item">
                <i class="fa-solid fa-user-lock fa-lg" type="button" data-bs-toggle="modal"
                    data-bs-target="#exampleModal">
                </i>
            </li>
        </ul>

    </div>

</nav>

<!--Ventana Modal Login-->
<app-login></app-login>